/* LOGIN REGISTRATION BUTTONS */

/* component <AccountMenu/> Link: Username Settings Logout*/
.underline-avatar {
    text-decoration: none;
    color: rgba(128, 128, 128, .8);
}

.underline-avatar>li:hover {
    color: floralwhite;
    background-color: rgba(13, 37, 63, .8);
}


/** Login button */
.css-e53awj-MuiStack-root>a:last-child button {
    color: darkturquoise;
    text-transform: capitalize;
    font-size: 1rem;
}

.css-e53awj-MuiStack-root>a:last-child button:hover {
    color: seashell;
}

/* NotificationsIcon */
.bell {
    color: white;
    align-content: center;
}

/* Avatar */
.css-e53awj-MuiStack-root>:not(style)+:not(style) {
    text-decoration: none;
}

.css-ianz0n-MuiAvatar-root {
    align-self: center;
}

/** Registration button */
#registration-btn {
    color: darkturquoise;
}

#registration-btn:hover {
    color: seashell;
}